@import (reference) "../../styles.less";

.creditsModal {
  max-width: 500px;

  h2 {
    margin: 0 0 8px 0;
    color: var(--bodyText);
  }

  hr {
    margin: 0 0 12px 0;
    border: none;
    border-top: 1px solid white;
  }
}

.creditsContainer {
  max-height: 500px;
  overflow-y: auto;
}

.creditSection {
  margin-bottom: 16px;

  h3 {
    margin: 0 0 4px 0;
    font-size: 14px;
    color: var(--bodyText);
  }

  span {
    font-size: 13px;
    line-height: 1.4;
  }

  a {
    color: #6db3f2;
  }
}
