<div class="darkMode">
  <h3>Your Farm</h3>
  <hr/>
  <div class="yieldText">
    <span>Your {{homeService.fields.length + homeService.extraFields | bigNumber}} fields produced an average of {{homeService.averageYield | bigNumber}} food per day over the last year.</span>
    <mat-icon (click)="buyClicked($event)" [matTooltip]="tooltips.buyLand((homeService.landPrice | bigNumber) + '', getLandPrice(10), getLandPrice(100), +getHalfAffordableLand())" class="iconButton" aria-label="Buy Land" aria-hidden="false">
      add
    </mat-icon>
    <mat-icon (click)="plowClicked($event)" class="iconButton" aria-label="Plow Field" aria-hidden="false"
      [matTooltip]="tooltips.plowField">
      waves
    </mat-icon>
    <mat-icon (click)="clearClicked($event)" class="iconButton" aria-label="Clear Field" aria-hidden="false"
      [matTooltip]="tooltips.clearField">
      delete_sweep
    </mat-icon>
    <mat-icon (click)="resetFieldsClicked($event)" class="iconButton" aria-label="Reset Fields" aria-hidden="false"
      [matTooltip]="tooltips.resetFields">
      restart_alt
    </mat-icon>
  </div>
  <div class="farmGrid">
    @for (batch of getFieldBatches(); track batch.cropName + batch.yield + batch.daysToHarvest) {
      <div class="batchCard">
        <div class="batchRow"><span class="batchLabel">Number of Fields:</span> <span class="batchValue">{{batch.count | bigNumber}}</span></div>
        <div class="batchRow"><span class="batchLabel">Crop:</span> <span class="batchValue">{{batch.cropName | titlecase}}</span></div>
        <div class="batchRow"><span class="batchLabel">Harvest Quantity:</span> <span class="batchValue">{{batch.yield | bigNumber}}</span></div>
        <div class="batchRow"><span class="batchLabel">Days Till Harvest:</span> <span class="batchValue">{{batch.daysToHarvest | bigNumber}}</span></div>
      </div>
    }
  </div>
</div>

