@import (reference) "../../styles.less";

.lifespanModal {
  min-width: 300px;
  max-width: 500px;
}

.baseLifespanInfo {
  p {
    margin: 4px 0;
  }
  .explanation {
    font-size: 12px;
    opacity: 0.8;
  }
}

.lifespanInfo {
  margin-top: 8px;
}

.lifespanFactorsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 8px;
  margin-top: 8px;

  span {
    padding: 4px 8px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 4px;
    cursor: help;
  }
}
