<div cdkDragHandle [ngClass]="{'draggableCursor': !gameStateService.lockPanels}" class="panelHeader">
  <mat-icon>
    calendar_month
  </mat-icon>
  Time
  <mat-icon class="panelHelp" [matTooltip]="panelHelp">
    help
  </mat-icon>

</div>
<div class="dropAccepter" id="activityDropDiv">
  <h3 >
    <span>
      How will you spend your days?
    </span>
    <mat-icon (click)="pauseClick()" [ngClass]="{'iconActive': this.mainLoopService.pause}"
      [matTooltip]="tooltips.pause" class="iconButton" aria-label="Pause" aria-hidden="false">
      pause
    </mat-icon>

    <mat-icon (click)="slowClick()" [ngClass]="{'iconActive': (mainLoopService.tickDivider === 40 && !this.mainLoopService.pause)}"
      [matTooltip]="getSpeedTooltip(40)" class="iconButton" aria-label="Slow Speed" aria-hidden="false">
      slow_motion_video
    </mat-icon>
    <mat-icon (click)="standardClick()" [ngClass]="{'iconActive': (mainLoopService.tickDivider === 10 && !this.mainLoopService.pause)}"
      [matTooltip]="getSpeedTooltip(10)" class="iconButton" aria-label="Standard Speed" aria-hidden="false">
      play_arrow
    </mat-icon>
    @if (mainLoopService.unlockFastSpeed) {
      <mat-icon [ngClass]="{'iconActive': (mainLoopService.tickDivider === 5 && !this.mainLoopService.pause)}"
      (click)="fastClick()" [matTooltip]="getSpeedTooltip(5)" class="iconButton" aria-label="Fast Speed" aria-hidden="false">
        fast_forward
      </mat-icon>
    }
    @if (mainLoopService.unlockFasterSpeed) {
      <mat-icon [ngClass]="{'iconActive': (mainLoopService.tickDivider === 2 && !this.mainLoopService.pause)}"
      (click)="fasterClick()" [matTooltip]="getSpeedTooltip(2)" class="iconButton" aria-label="Faster Speed" aria-hidden="false">
        skip_next
      </mat-icon>
    }
    @if (mainLoopService.unlockFastestSpeed) {
      <mat-icon [ngClass]="{'iconActive': (mainLoopService.tickDivider === 1 && !this.mainLoopService.pause)}"
      (click)="fastestClick()" [matTooltip]="getSpeedTooltip(1)" class="iconButton" aria-label="Fastest Speed" aria-hidden="false">
        bolt
      </mat-icon>
    }
    @if (activityService.autoRestart) {
      <mat-icon  (click)="timeOptions()" [matTooltip]="tooltips.options" class="iconButton" aria-label="Time Options" aria-hidden="false">
        settings
      </mat-icon>
    }

    <h6>
      <input type="checkbox" (change)="useSavedTicks($event)" id="useSavedTicks"
        [checked]="mainLoopService.useBankedTicks"/>
      <label for="useSavedTicks">Use banked time to accelerate reality (10x). {{mainLoopService.bankedTicks | bigNumber}} time ticks left.</label>
    </h6>
  </h3>
  <div class="overflow" cdkDropList cdkDropListSortingDisabled (pointerdown)="$event.stopPropagation()" (mousedown)="$event.stopPropagation()">
    @if (characterService.characterState.qiUnlocked) {
      <table class="spiritActivityPanel" id="spiritActivity"
        (drop)="spiritActivityDrop($event)">
        <tr>
          <td class="spiritProjectionLabel" [matTooltip]="tooltips.spiritProjection">
            Spiritual Projection
          </td>
        </tr>
        @if (activityService.spiritActivity !== null) {
          <tr>
            <td>{{getActivityName(activityService.spiritActivity)}}</td>
            <td>
              <div class="progress-bar" [ngClass]="{'indeterminate': activityService.spiritActivityProgress && !mainLoopService.pause}">
                <span></span>
              </div>
            </td>
            <td>
              <mat-icon [matTooltip]="tooltips.removeActivity" (click)="removeSpiritActivity()" class="iconButton" aria-label="Remove Activity" aria-hidden="false">clear</mat-icon>
            </td>
          </tr>
        }
      </table>
    }

    <table>
      @for (entry of activityService.activityLoop; track $index; let indexOfelement = $index) {
        @if (getActivityName(entry.activity) !== '') {
          <tr id="activityLoopIndex{{indexOfelement}}"
            cdkDrag [cdkDragData]="indexOfelement"
            (cdkDragStarted)="dragStart()" (cdkDragEnded)="dragEnd()" (cdkDragMoved)="dragMoved($event)" (cdkDragReleased)="dragReleased($event)" cdkDragPreviewClass="currentRow">
            <td [ngClass]="{'currentRow': indexOfelement === activityService.currentIndex, 'disabled': entry.disabled}" id="activityLoopIndex0{{indexOfelement}}">
              {{getActivityName(entry.activity)}} ({{entry.repeatTimes}} {{(entry.repeatTimes === 1) ? "day" : "days"}})
            </td>
            <td [ngClass]="{'currentRow': indexOfelement === activityService.currentIndex, 'disabled': entry.disabled}" id="activityLoopIndex1{{indexOfelement}}">
              <div class="progress-bar">
                <span
                  [style.width.%]="100 * (indexOfelement !== activityService.currentIndex || entry.disabled ? entry.repeatTimes : activityService.currentTickCount) / entry.repeatTimes">
                </span>
              </div>
            </td>
            <td [ngClass]="{'currentRow': indexOfelement === activityService.currentIndex, 'disabled': entry.disabled}" id="activityLoopIndex2{{indexOfelement}}">
            <mat-icon [matTooltip]="tooltips.minusDays"
              (click)="onMinusClick(entry, $event)" class="iconButton" aria-label="Remove Days" aria-hidden="false">remove</mat-icon>
            <mat-icon [matTooltip]="tooltips.plusDays"
              (click)="onPlusClick(entry, $event)" class="iconButton" aria-label="Add Days" aria-hidden="false">add</mat-icon>
              <mat-icon [matTooltip]="tooltips.disableActivity" (click)="onDisableClick(entry)" class="iconButton" aria-label="Disable Activity" aria-hidden="false">cancel</mat-icon>
              <mat-icon [matTooltip]="tooltips.removeActivity" (click)="onRemoveClick(entry)" class="iconButton" aria-label="Remove Activity" aria-hidden="false">clear</mat-icon>
            </td>
          </tr>
        }
      }
    </table>

  </div>
</div>
<div class="panelResizeHandle"></div>