<div class='darkMode statisticsWrapper'>
  <div class="statisticsHeader">
    <h3>Statistics</h3>
    <hr/>
  </div>
  <div class="statisticsDiv">
    <div class="statisticsSection">
      <h4>Game Speed</h4>
      <table>
        <tr>
          <td>Game days per real second:</td>
          <td>{{statisticsService.daysPerSecond | number:'1.0-2'}}</td>
        </tr>
        <tr>
          <td>Game years per real minute:</td>
          <td>{{statisticsService.daysPerSecond * 60 / 365 | number:'1.0-2'}}</td>
        </tr>
        <tr>
          <td>Game years per real hour:</td>
          <td>{{statisticsService.daysPerSecond * 60 * 60 / 365 | number:'1.0-2'}}</td>
        </tr>
      </table>
    </div>

    <div class="statisticsSection">
      <h4>Current Life</h4>
      <table>
        <tr>
          <td>Current age:</td>
          <td>{{characterService.yearify(characterService.characterState.age)}}</td>
        </tr>
        <tr>
          <td>Current money:</td>
          <td>{{characterService.characterState.money | bigNumber}}</td>
        </tr>
        <tr>
          <td>Enemies killed this life:</td>
          <td>{{battleService.kills | bigNumber}}</td>
        </tr>
        <tr>
          <td>Followers recruited this life:</td>
          <td>{{followerService.followersRecruited | bigNumber}}</td>
        </tr>
        <tr>
          <td>Current land owned:</td>
          <td>{{homeService.land | bigNumber}}</td>
        </tr>
        <tr>
          <td>Current fields owned:</td>
          <td>{{homeService.fields.length + homeService.extraFields | bigNumber}}</td>
        </tr>
        <tr>
          <td>Current home:</td>
          <td>{{homeService.home.name}}</td>
        </tr>
        <tr>
          <td>Inventory capacity:</td>
          <td>{{inventoryService.maxItems}}</td>
        </tr>
      </table>
    </div>

    <div class="statisticsSection">
      <h4>Overall</h4>
      <table>
        <tr>
          <td>Total days lived:</td>
          <td>{{mainLoopService.totalTicks | bigNumber}}</td>
        </tr>
        <tr>
          <td>Total lives lived:</td>
          <td>{{characterService.characterState.totalLives | bigNumber}}</td>
        </tr>
        <tr>
          <td>Total enemies killed:</td>
          <td>{{battleService.totalKills | bigNumber}}</td>
        </tr>
        <tr>
          <td>Troubling monsters encountered:</td>
          <td>{{battleService.troubleKills | bigNumber}}</td>
        </tr>
        <tr>
          <td>Total followers recruited:</td>
          <td>{{followerService.totalRecruited | bigNumber}}</td>
        </tr>
        <tr>
          <td>Followers died:</td>
          <td>{{followerService.totalDied | bigNumber}}</td>
        </tr>
        <tr>
          <td>Followers dismissed:</td>
          <td>{{followerService.totalDismissed | bigNumber}}</td>
        </tr>
        <tr>
          <td>Days spent exhausted:</td>
          <td>{{activityService.totalExhaustedDays | bigNumber}}</td>
        </tr>
        <tr>
          <td>Days spent doing odd jobs:</td>
          <td>{{activityService.oddJobDays | bigNumber}}</td>
        </tr>
        <tr>
          <td>Days spent begging:</td>
          <td>{{activityService.beggingDays | bigNumber}}</td>
        </tr>
        <tr>
          <td>Consecutive harvest days:</td>
          <td>{{homeService.consecutiveHarvests | bigNumber}}</td>
        </tr>
        <tr>
          <td>Items used:</td>
          <td>{{inventoryService.lifetimeUsedItems | bigNumber}}</td>
        </tr>
        <tr>
          <td>Items sold:</td>
          <td>{{inventoryService.lifetimeSoldItems | bigNumber}}</td>
        </tr>
        <tr>
          <td>Potions used:</td>
          <td>{{inventoryService.lifetimePotionsUsed | bigNumber}}</td>
        </tr>
        <tr>
          <td>Pills used:</td>
          <td>{{inventoryService.lifetimePillsUsed | bigNumber}}</td>
        </tr>
        <tr>
          <td>Gems sold:</td>
          <td>{{inventoryService.lifetimeGemsSold | bigNumber}}</td>
        </tr>
        <tr>
          <td>Items overflowed:</td>
          <td>{{inventoryService.thrownAwayItems | bigNumber}}</td>
        </tr>
        <tr>
          <td>Equipment created:</td>
          <td>{{inventoryService.equipmentCreated | bigNumber}}</td>
        </tr>
        <tr>
          <td>Completed apprenticeships:</td>
          <td>{{activityService.completedApprenticeships.length}}</td>
        </tr>
        <tr>
          <td>Manuals discovered:</td>
          <td>{{storeService.manuals.length}}</td>
        </tr>
        <tr>
          <td>Unlocked achievements:</td>
          <td>{{achievementService.unlockedAchievements.length}}</td>
        </tr>
      </table>
    </div>

    <div class="statisticsSection">
      <h4>All-Time Records</h4>
      <table>
        <tr>
          <td>Oldest age:</td>
          <td>{{characterService.yearify(characterService.characterState.highestAge)}}</td>
        </tr>
        <tr>
          <td>Most money:</td>
          <td>{{characterService.characterState.highestMoney | bigNumber}}</td>
        </tr>
        <tr>
          <td>Highest health:</td>
          <td>{{characterService.characterState.highestHealth | bigNumber}}</td>
        </tr>
        <tr>
          <td>Highest stamina:</td>
          <td>{{characterService.characterState.highestStamina | bigNumber}}</td>
        </tr>
        <tr>
          <td>Highest mana:</td>
          <td>{{characterService.characterState.highestMana | bigNumber}}</td>
        </tr>
        <tr>
          <td>Highest damage dealt:</td>
          <td>{{battleService.highestDamageDealt | bigNumber}}</td>
        </tr>
        <tr>
          <td>Highest damage taken:</td>
          <td>{{battleService.highestDamageTaken | bigNumber}}</td>
        </tr>
        <tr>
          <td>Highest follower level:</td>
          <td>{{followerService.highestLevel}}</td>
        </tr>
        <tr>
          <td>Most land owned:</td>
          <td>{{homeService.highestLand | bigNumber}}</td>
        </tr>
        <tr>
          <td>Highest land price:</td>
          <td>{{homeService.highestLandPrice | bigNumber}}</td>
        </tr>
        <tr>
          <td>Most fields owned:</td>
          <td>{{homeService.mostFields | bigNumber}}</td>
        </tr>
        <tr>
          <td>Highest average farm yield:</td>
          <td>{{homeService.highestAverageYield | number:'1.0-2'}}</td>
        </tr>
        <tr>
          <td>Best home owned:</td>
          <td>{{homeService.homesList[homeService.bestHome].name}}</td>
        </tr>
        <tr>
          <td>Highest inventory capacity:</td>
          <td>{{inventoryService.highestMaxItems}}</td>
        </tr>
      </table>
      <div class="statisticsSubsection">
        <h5>Best Equipment Value</h5>
        <table>
          <tr>
            <td>Head:</td>
            <td>{{inventoryService.highestEquipmentValue['head'] | bigNumber}}</td>
          </tr>
          <tr>
            <td>Body:</td>
            <td>{{inventoryService.highestEquipmentValue['body'] | bigNumber}}</td>
          </tr>
          <tr>
            <td>Left Hand:</td>
            <td>{{inventoryService.highestEquipmentValue['leftHand'] | bigNumber}}</td>
          </tr>
          <tr>
            <td>Right Hand:</td>
            <td>{{inventoryService.highestEquipmentValue['rightHand'] | bigNumber}}</td>
          </tr>
          <tr>
            <td>Legs:</td>
            <td>{{inventoryService.highestEquipmentValue['legs'] | bigNumber}}</td>
          </tr>
          <tr>
            <td>Feet:</td>
            <td>{{inventoryService.highestEquipmentValue['feet'] | bigNumber}}</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="statisticsSection">
      <h4>Highest Attributes</h4>
      <div class="statisticsSubsection">
        <h5>Basic</h5>
        <table>
          <tr>
            <td>Strength:</td>
            <td>{{characterService.characterState.highestAttributes['strength'] | bigNumber}}</td>
          </tr>
          <tr>
            <td>Toughness:</td>
            <td>{{characterService.characterState.highestAttributes['toughness'] | bigNumber}}</td>
          </tr>
          <tr>
            <td>Speed:</td>
            <td>{{characterService.characterState.highestAttributes['speed'] | bigNumber}}</td>
          </tr>
          <tr>
            <td>Intelligence:</td>
            <td>{{characterService.characterState.highestAttributes['intelligence'] | bigNumber}}</td>
          </tr>
          <tr>
            <td>Charisma:</td>
            <td>{{characterService.characterState.highestAttributes['charisma'] | bigNumber}}</td>
          </tr>
        </table>
      </div>
      <div class="statisticsSubsection">
        <h5>Cultivation</h5>
        <table>
          <tr>
            <td>Spirituality:</td>
            <td>{{characterService.characterState.highestAttributes['spirituality'] | bigNumber}}</td>
          </tr>
          <tr>
            <td>Earth Lore:</td>
            <td>{{characterService.characterState.highestAttributes['earthLore'] | bigNumber}}</td>
          </tr>
          <tr>
            <td>Metal Lore:</td>
            <td>{{characterService.characterState.highestAttributes['metalLore'] | bigNumber}}</td>
          </tr>
          <tr>
            <td>Wood Lore:</td>
            <td>{{characterService.characterState.highestAttributes['woodLore'] | bigNumber}}</td>
          </tr>
          <tr>
            <td>Water Lore:</td>
            <td>{{characterService.characterState.highestAttributes['waterLore'] | bigNumber}}</td>
          </tr>
          <tr>
            <td>Fire Lore:</td>
            <td>{{characterService.characterState.highestAttributes['fireLore'] | bigNumber}}</td>
          </tr>
        </table>
      </div>
      <div class="statisticsSubsection">
        <h5>Proficiency</h5>
        <table>
          <tr>
            <td>Animal Handling:</td>
            <td>{{characterService.characterState.highestAttributes['animalHandling'] | bigNumber}}</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="statisticsSection">
      <h4>Automation</h4>
      <table>
        <tr>
          <td>Auto-sell item types:</td>
          <td>{{inventoryService.autoSellEntries.length}}</td>
        </tr>
        <tr>
          <td>Auto-use item types:</td>
          <td>{{inventoryService.autoUseEntries.length}}</td>
        </tr>
        <tr>
          <td>Auto-balance item types:</td>
          <td>{{inventoryService.autoBalanceItems.length}}</td>
        </tr>
        <tr>
          <td>Equipment auto-equipped:</td>
          <td>{{inventoryService.lifetimeEquipmentAutoEquipped | bigNumber}}</td>
        </tr>
        <tr>
          <td>Apprenticeship slots:</td>
          <td>{{activityService.openApprenticeships}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
