<div cdkDragHandle [ngClass]="{'draggableCursor': !gameStateService.lockPanels}" class="panelHeader">
  <mat-icon>
    bar_chart
  </mat-icon>
  Attributes
  <mat-icon class="panelHelp" matTooltip="Your attributes define your growing immortal characteristics. You can grow your attributes through the activities that you choose. Aptitudes that you developed in your past lives can make it easier to develop attributes in your current life.">
    help
  </mat-icon>
</div>
<div class="attributesContainer">
  <table class="attributesTable">
    <thead>
      <tr>
        <th>Name</th>
        <th>SV</th>
        <th>Aptitude</th>
        <th>Gain Mult.</th>
        <th class="growColumn">Value</th>
      </tr>
    </thead>
    <tbody>
      @for (group of attributeGroups; track group.name) {
        @if (hasVisibleAttributes(group)) {
          <tr class="attributeGroupRow">
            <td colspan="5" class="attributeGroupHeader">{{group.name}}</td>
          </tr>
          @for (key of group.keys; track key) {
            @if (isAttributeVisible(key)) {
              <tr class="attributeLine">
                <td matTooltip="{{character.attributes[key].description}} Your aptitude of {{character.attributes[key].aptitude | bigNumber}} multiplies your gains by {{character.attributes[key].aptitudeMult | bigNumber}}.">
                  <mat-icon>{{character.attributes[key].icon}}</mat-icon>
                  <span>{{key | camelToTitle}}:</span>
                </td>
                <td>{{character.attributes[key].lifeStartValue | bigNumber}}</td>
                <td>{{character.attributes[key].aptitude | bigNumber}}</td>
                <td>{{character.attributes[key].aptitudeMult | bigNumber}}</td>
                <td class="growColumn">
                  {{character.attributes[key].value | bigNumber}}
                  @for (update of getAttributeUpdates(key); track update) {
                    <span class="popupText"
                    [@popupText]=update (@popupText.done)="animationDoneEvent($event, key)">+{{update | bigNumber}}</span>
                  }
                </td>
              </tr>
            }
          }
        }
      }
    </tbody>
  </table>
</div>
<div class="panelResizeHandle"></div>
