<div cdkDragHandle [ngClass]="{'draggableCursor': !gameStateService.lockPanels}" class="panelHeader">
  <mat-icon>
    bar_chart
  </mat-icon>
  Attributes
  <mat-icon class="panelHelp" [matTooltip]="panelHelp">
    help
  </mat-icon>
</div>
<div class="attributesContainer">
  <table class="attributesTable">
    <thead>
      <tr>
        <th>Name</th>
        <th [matTooltip]="attrTooltips.columnApt">Apt</th>
        <th [matTooltip]="attrTooltips.columnMult">Mult</th>
        <th [matTooltip]="attrTooltips.columnHv">HV</th>
        <th class="growColumn" [matTooltip]="attrTooltips.columnCv">CV</th>
      </tr>
    </thead>
    <tbody>
      @for (group of attributeGroups; track group.name) {
        @if (hasVisibleAttributes(group)) {
          <tr class="attributeGroupRow">
            <td colspan="5" class="attributeGroupHeader">{{group.name}}</td>
          </tr>
          @for (key of group.keys; track key) {
            @if (isAttributeVisible(key)) {
              <tr class="attributeLine">
                <td [matTooltip]="character.attributes[key].description + ' ' + attrTooltips.aptitudeSuffix((character.attributes[key].aptitude | bigNumber) + '', (character.attributes[key].aptitudeMult | bigNumber) + '')">
                  <mat-icon>{{character.attributes[key].icon}}</mat-icon>
                  <span>{{key | camelToTitle}}:</span>
                </td>
                <td>{{character.attributes[key].aptitude | bigNumber}}</td>
                <td>{{character.attributes[key].aptitudeMult | bigNumber}}</td>
                <td>
                  @if (character.highestAttributes[key] > character.attributes[key].value) {
                    {{character.highestAttributes[key] | bigNumber}}
                  }
                </td>
                <td class="growColumn">
                  {{character.attributes[key].value | bigNumber}}
                  @for (update of getAttributeUpdates(key); track update) {
                    <span class="popupText"
                    [@popupText]=update (@popupText.done)="animationDoneEvent($event, key)">+{{update | bigNumber}}</span>
                  }
                </td>
              </tr>
            }
          }
        }
      }
    </tbody>
  </table>
</div>
<div class="panelResizeHandle"></div>
