:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

h3 {
  width: 100%;
}

mat-icon {
  height: 16px;
  width: 16px;
  font-size: 16px;
  margin: 2px;
  vertical-align: middle;
}

span {
  font-size: 14px;
}

.optionsIcon {
  float: right;
}

.smallerIcon {
  float: right;
  height: 12px;
  width: 12px;
  margin-top: 1px;
  margin-bottom: 0px;
  vertical-align: top;
}

.attributesContainer {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.attributesTable {
  width: 100%;
  border-collapse: collapse;
  margin: 0 4px;

  thead {
    position: sticky;
    top: 0;
    background: var(--panelBackground);
    z-index: 1;
  }

  th {
    text-align: left;
    padding: 2px 6px;
    border-bottom: 1px var(--tableDividerColor) solid;
    white-space: nowrap;
    font-weight: normal;
    color: var(--bodyText);
  }

  td {
    padding: 2px 6px;
    white-space: nowrap;
  }
}

.growColumn {
  width: 100%;
}

.attributeGroupHeader {
  font-size: 12px;
  color: var(--textHighlight);
  padding: 6px 6px 2px 6px !important;
  font-weight: 500;
}

.attributeLine {
  td {
    border-bottom: 1px var(--tableDividerColor) solid;
  }
}

.attributeValueCell {
  position:relative;
}

.popupText {
  position: absolute;
  transform: translateZ(0);
  color: var(--popupTextColor);
  z-index: 10000;
  font-size: x-small;
}
