<div class='darkMode'>
  <span>Battle Options</span>
  <hr/>
  <div>
    <input type="radio" (change)="noAttackToggle()" name="attack" id="attackNone" [checked]="!battleService.enableQiAttack && !battleService.enablePyroclasm && !battleService.enableMetalFist"/>
    <label for="attackNone"><span>No Special Attack</span></label>
  </div>
  @if (battleService.qiAttackUnlocked) {
    <div
      [matTooltip]="tooltips.qiStrike">
      <input type="radio" (change)="qiAttackToggle()" name="attack" id="qiStrike" [checked]="battleService.enableQiAttack"/>
      <label for="qiStrike"><span>Activate Qi Strike</span></label>
    </div>
  }
  @if (battleService.pyroclasmUnlocked) {
    <div
      [matTooltip]="tooltips.pyroclasm">
      <input type="radio" (change)="pyroclasmToggle()" name="attack" id="pyroclasm" [checked]="battleService.enablePyroclasm"/>
      <label for="pyroclasm"><span>Activate Pyroclasm</span></label>
    </div>
  }
  @if (battleService.metalFistUnlocked) {
    <div
      [matTooltip]="tooltips.metalFist">
      <input type="radio" (change)="metalFistToggle()" name="attack" id="metalFist" [checked]="battleService.enableMetalFist"/>
      <label for="metalFist"><span>Activate Metal Fist</span></label>
    </div>
  }
  <hr/>
  <div>
    <input type="radio" (change)="noShieldToggle()" name="shield" id="shieldNone" [checked]="!battleService.enableQiShield && !battleService.enableFireShield && !battleService.enableIceShield"/>
    <label for="shieldNone"><span>No Shield</span></label>
  </div>
  @if (battleService.qiShieldUnlocked) {
    <div
      [matTooltip]="tooltips.qiShield">
      <input type="radio" (change)="qiShieldToggle()" name="shield" id="qiShield" [checked]="battleService.enableQiShield"/>
      <label for="qiShield"><span>Activate Qi Shield</span></label>
    </div>
  }
  @if (battleService.fireShieldUnlocked) {
    <div
      [matTooltip]="tooltips.fireShield">
      <input type="radio" (change)="fireShieldToggle()" name="shield" id="fireShield" [checked]="battleService.enableFireShield"/>
      <label for="fireShield"><span>Activate Fire Shield</span></label>
    </div>
  }
  @if (battleService.iceShieldUnlocked) {
    <div
      [matTooltip]="tooltips.iceShield">
      <input type="radio" (change)="iceShieldToggle()" name="shield" id="iceShield" [checked]="battleService.enableIceShield"/>
      <label for="iceShield"><span>Activate Ice Shield</span></label>
    </div>
  }

</div>
