<div class="wrapper" [ngClass]="{'darkMode': gameStateService.isDarkMode}">
  <div class="mainContainer">
    <div class="top-line">
      <span class="gameTitle">
        Immortality Idle - {{characterService.characterState.god ? "The Divine Cultivator" : hellService.inHell ? "Escape from The Eighteen Hells" : characterService.characterState.immortal ? "You are Immortal!" : "Can you become an immortal?"}}
        <span class="versionNumber" (click)="changelogClicked()">{{gameStateService.isExperimental ? "Experimental" : "v" + applicationVersion}}</span>
      </span>
      <mat-icon matTooltip="Confused? Click here." class="iconButton" (click)="tutorialClicked()" aria-label="Tutorial" aria-hidden="false">
        help
      </mat-icon>
      <mat-icon matTooltip="Statistics!" class="iconButton" (click)="statisticsClicked()">
        format_list_numbered_rtl
      </mat-icon>
      <span>
        <mat-icon matTooltip="A store that sells special manuals for aspiring immortals." class="iconButton" aria-label="Store" aria-hidden="false"
          [ngClass]="{highlighted: storeService.isManualAvailable()}"
          (click)="storeClicked()">
          local_library
        </mat-icon>
        <mat-icon matTooltip="Options. Lots of them." class="iconButton" aria-label="Options" aria-hidden="false"
          (click)="storeOptionsClicked()">
          settings
        </mat-icon>
      </span>
      <mat-icon matTooltip="Achievements!" class="iconButton" aria-label="Achievements" aria-hidden="false"
        (click)="achievementsClicked()">
        military_tech
      </mat-icon>
      @if (impossibleTaskService.impossibleTasksUnlocked) {
        <mat-icon matTooltip="Impossible Tasks" class="iconButton" aria-label="Impossible Tasks" aria-hidden="false"
          (click)="impossibleTasksClicked()">
          priority_high
        </mat-icon>
      }
      @if (characterService.characterState.ascensionUnlocked) {
        <span>
          <mat-icon matTooltip="Ascension Techniques." class="iconButton" aria-label="Ascension" aria-hidden="false"
            (click)="ascensionStoreClicked()">
            keyboard_double_arrow_up
          </mat-icon>
        </span>
      }
      <span class="discordLink">
        <a href="https://discord.gg/Na7Qmwy3XK" target="_blank" rel="noopener noreferrer" matTooltip="Have questions? Try the Immortality Idle Discord.">Discord</a>
      </span>
      <span>
        <input type="checkbox" id="lockPanels" (change)="lockPanelsToggle()" [checked]="gameStateService.lockPanels"/>
        <label for="lockPanels">Lock panels in place</label>
      </span>
      <span>
        <button [disabled]="gameStateService.lockPanels" (click)="gameStateService.resetPanels()">Reset Panels to Default Locations</button>
      </span>
    </div>
    <div class="grid-container">
      <ktd-grid
        cols="100"
        rowHeight="10"
        [gap]="4"
        [compactType]="'vertical'"
        [layout]="getFilteredLayout()"
        (layoutUpdated)="onLayoutUpdated($event)">
        @for (layoutItem of getFilteredLayout(); track layoutItem.id) {
          <ktd-grid-item [id]="layoutItem.id" [draggable]="!gameStateService.lockPanels" [resizable]="!gameStateService.lockPanels">
            <div class="panel" ktdGridDragHandle>
                @switch (layoutItem.id) {
                  @case ('timePanel') { <app-time-panel class="panelComponent"></app-time-panel> }
                  @case ('attributesPanel') { <app-attributes-panel class="panelComponent"></app-attributes-panel> }
                  @case ('healthPanel') { <app-health-panel class="panelComponent"></app-health-panel> }
                  @case ('activityPanel') { <app-activity-panel class="panelComponent"></app-activity-panel> }
                  @case ('battlePanel') { <app-battle-panel class="panelComponent"></app-battle-panel> }
                  @case ('equipmentPanel') { <app-equipment-panel class="panelComponent"></app-equipment-panel> }
                  @case ('homePanel') { <app-home-panel class="panelComponent"></app-home-panel> }
                  @case ('inventoryPanel') { <app-inventory-panel class="panelComponent"></app-inventory-panel> }
                  @case ('logPanel') { <app-log-panel class="panelComponent"></app-log-panel> }
                  @case ('followersPanel') { <app-followers-panel class="panelComponent"></app-followers-panel> }
                  @case ('portalPanel') { <app-portal-panel class="panelComponent"></app-portal-panel> }
                  @case ('petsPanel') { <app-pets-panel class="panelComponent"></app-pets-panel> }
                }
            </div>
          </ktd-grid-item>
        }
      </ktd-grid>
    </div>
  </div>
</div>
