<div cdkDragHandle [ngClass]="{'draggableCursor': !gameStateService.lockPanels}" class="panelHeader">
  <mat-icon>
    colorize
  </mat-icon>
  Equipment
  <mat-icon class="panelHelp" [matTooltip]="panelHelp">
    help
  </mat-icon>
</div>

<div class="equipmentScrollWrapper">
<div class="equipmentContainer" cdkDropList cdkDropListSortingDisabled (pointerdown)="$event.stopPropagation()" (mousedown)="$event.stopPropagation()">
    <div style="grid-area: head;" class="itemSlot textOverflow" [ngClass]="{'highlightSlot': getSelectedItemSlot() === 'head', 'brokenItem': isBroken('head')}" [class]="getEffectClass('head')"
      cdkDrag (cdkDragStarted)="dragStart()" (cdkDragEnded)="dragEnd()" (cdkDragMoved)="dragMoved($event)" (cdkDragReleased)="dragReleased($event)"
      [cdkDragData]="character.equipment.head" [cdkDragDisabled]="!character.equipment.head"
      (dblclick)="slotDoubleClicked('head', $event)" tabindex="0"
      id="equipmentSlothead"
      [matTooltip]="character.equipment.head | itemTooltip">
      @if (inventoryService.favoritesUnlocked && character.equipment.head) {
        <mat-icon class="favoriteIcon" [ngClass]="{'favorited': inventoryService.isFavorite(character.equipment.head)}" (click)="inventoryService.toggleFavorite(character.equipment.head); $event.stopPropagation()" matTooltip="Click to {{inventoryService.isFavorite(character.equipment.head) ? 'unfavorite' : 'favorite'}} this equipment">
          {{inventoryService.isFavorite(character.equipment.head) ? 'star' : 'star_border'}}
        </mat-icon>
      }
      @if (character.equipment.head?.imageFile){
        <div class="equipmentImage">
          <img src="assets/images/items/{{character.equipment.head?.imageFile}}.png" class="itemImage"
            width="48" height="48"  alt="{{character.equipment.head?.name | titlecase}}"/>
        </div>
      }
      <div class="equipmentName">
        {{character.equipment.head?.name | titlecase}}
      </div>
      @if (getQualityTier(character.equipment.head); as tierInfo) {
        <div class="itemTier" [ngStyle]="getTierStyle(character.equipment.head)">{{tierInfo.prefix}}{{tierInfo.tier}}</div>
      }
    </div>
    <div style="grid-area: right;" class="itemSlot textOverflow"
      [ngClass]="{'highlightSlot': getSelectedItemSlot() === 'rightHand', 'brokenItem': isBroken('rightHand')}" [class]="getEffectClass('rightHand')"
      cdkDrag (cdkDragStarted)="dragStart()" (cdkDragEnded)="dragEnd()" (cdkDragMoved)="dragMoved($event)" (cdkDragReleased)="dragReleased($event)"
      [cdkDragData]="character.equipment.rightHand" [cdkDragDisabled]="!character.equipment.rightHand"
      (dblclick)="slotDoubleClicked('rightHand', $event)" tabindex="0"
      id="equipmentSlotrightHand"
      [matTooltip]="character.equipment.rightHand | itemTooltip">
      @if (inventoryService.favoritesUnlocked && character.equipment.rightHand) {
        <mat-icon class="favoriteIcon" [ngClass]="{'favorited': inventoryService.isFavorite(character.equipment.rightHand)}" (click)="inventoryService.toggleFavorite(character.equipment.rightHand); $event.stopPropagation()" matTooltip="Click to {{inventoryService.isFavorite(character.equipment.rightHand) ? 'unfavorite' : 'favorite'}} this equipment">
          {{inventoryService.isFavorite(character.equipment.rightHand) ? 'star' : 'star_border'}}
        </mat-icon>
      }
      @if (character.equipment.rightHand?.imageFile){
        <div class="equipmentImage">
          <img src="assets/images/items/{{character.equipment.rightHand?.imageFile}}.png" class="itemImage"
            width="48" height="48"  alt="{{character.equipment.rightHand?.name | titlecase}}"/>
        </div>
      }
      <div class="equipmentName">
        {{character.equipment.rightHand?.name | titlecase}}
      </div>
      @if (getQualityTier(character.equipment.rightHand); as tierInfo) {
        <div class="itemTier" [ngStyle]="getTierStyle(character.equipment.rightHand)">{{tierInfo.prefix}}{{tierInfo.tier}}</div>
      }
    </div>
    <div style="grid-area: body;" class="itemSlot textOverflow" [ngClass]="{'highlightSlot': getSelectedItemSlot() === 'body', 'brokenItem': isBroken('body')}" [class]="getEffectClass('body')"
      cdkDrag (cdkDragStarted)="dragStart()" (cdkDragEnded)="dragEnd()" (cdkDragMoved)="dragMoved($event)" (cdkDragReleased)="dragReleased($event)"
      [cdkDragData]="character.equipment.body" [cdkDragDisabled]="!character.equipment.body"
      (dblclick)="slotDoubleClicked('body', $event)" tabindex="0"
      id="equipmentSlotbody"
      [matTooltip]="character.equipment.body | itemTooltip">
      @if (inventoryService.favoritesUnlocked && character.equipment.body) {
        <mat-icon class="favoriteIcon" [ngClass]="{'favorited': inventoryService.isFavorite(character.equipment.body)}" (click)="inventoryService.toggleFavorite(character.equipment.body); $event.stopPropagation()" matTooltip="Click to {{inventoryService.isFavorite(character.equipment.body) ? 'unfavorite' : 'favorite'}} this equipment">
          {{inventoryService.isFavorite(character.equipment.body) ? 'star' : 'star_border'}}
        </mat-icon>
      }
      @if (character.equipment.body?.imageFile){
        <div class="equipmentImage">
          <img src="assets/images/items/{{character.equipment.body?.imageFile}}.png" class="itemImage"
            width="48" height="48"  alt="{{character.equipment.body?.name | titlecase}}"/>
        </div>
      }
      <div class="equipmentName">
        {{character.equipment.body?.name | titlecase}}
      </div>
      @if (getQualityTier(character.equipment.body); as tierInfo) {
        <div class="itemTier" [ngStyle]="getTierStyle(character.equipment.body)">{{tierInfo.prefix}}{{tierInfo.tier}}</div>
      }
    </div>
    <div style="grid-area: left;" class="itemSlot textOverflow" [ngClass]="{'highlightSlot': getSelectedItemSlot() === 'leftHand', 'brokenItem': isBroken('leftHand')}" [class]="getEffectClass('leftHand')"
      cdkDrag (cdkDragStarted)="dragStart()" (cdkDragEnded)="dragEnd()" (cdkDragMoved)="dragMoved($event)" (cdkDragReleased)="dragReleased($event)"
      [cdkDragData]="character.equipment.leftHand" [cdkDragDisabled]="!character.equipment.leftHand"
      (dblclick)="slotDoubleClicked('leftHand', $event)" tabindex="0"
      id="equipmentSlotleftHand"
      [matTooltip]="character.equipment.leftHand | itemTooltip">
      @if (inventoryService.favoritesUnlocked && character.equipment.leftHand) {
        <mat-icon class="favoriteIcon" [ngClass]="{'favorited': inventoryService.isFavorite(character.equipment.leftHand)}" (click)="inventoryService.toggleFavorite(character.equipment.leftHand); $event.stopPropagation()" matTooltip="Click to {{inventoryService.isFavorite(character.equipment.leftHand) ? 'unfavorite' : 'favorite'}} this equipment">
          {{inventoryService.isFavorite(character.equipment.leftHand) ? 'star' : 'star_border'}}
        </mat-icon>
      }
      @if (character.equipment.leftHand?.imageFile){
        <div class="equipmentImage">
          <img src="assets/images/items/{{character.equipment.leftHand?.imageFile}}.png" class="itemImage"
            width="48" height="48"  alt="{{character.equipment.leftHand?.name | titlecase}}"/>
        </div>
      }
      <div class="equipmentName">
        {{character.equipment.leftHand?.name | titlecase}}
      </div>
      @if (getQualityTier(character.equipment.leftHand); as tierInfo) {
        <div class="itemTier" [ngStyle]="getTierStyle(character.equipment.leftHand)">{{tierInfo.prefix}}{{tierInfo.tier}}</div>
      }
    </div>
    <div style="grid-area: stats;">
      <span tabindex="0" [matTooltip]="getAccuracyTooltip()" matTooltipClass="multiline-tooltip"><mat-icon>manage_accounts</mat-icon>{{character.accuracy | percent}}</span>
      <br/>
      <span tabindex="0" [ngClass]="{'highlightSpan': character.righteousWrathUnlocked}" [matTooltip]="getAttackPowerTooltip()" matTooltipClass="multiline-tooltip"><mat-icon>flare</mat-icon>{{character.attackPower | bigNumber}}</span>
      <br/>
      <span tabindex="0" [ngClass]="{'highlightSpan': character.righteousWrathUnlocked}" [matTooltip]="getDefenseTooltip()" matTooltipClass="multiline-tooltip"><mat-icon>shield</mat-icon>{{character.defense | bigNumber}}</span>
      @if (hasAnyEquipment()) {
        <br/>
        <mat-icon class="iconButton unequipAllButton" matTooltip="Unequip all items" (click)="unequipAll()" aria-label="Unequip All" aria-hidden="false">backpack</mat-icon>
      }
    </div>
    <div style="grid-area: legs;" class="itemSlot textOverflow" [ngClass]="{'highlightSlot': getSelectedItemSlot() === 'legs', 'brokenItem': isBroken('legs')}" [class]="getEffectClass('legs')"
      cdkDrag (cdkDragStarted)="dragStart()" (cdkDragEnded)="dragEnd()" (cdkDragMoved)="dragMoved($event)" (cdkDragReleased)="dragReleased($event)"
      [cdkDragData]="character.equipment.legs" [cdkDragDisabled]="!character.equipment.legs"
      (dblclick)="slotDoubleClicked('legs', $event)" tabindex="0"
      id="equipmentSlotlegs"
      [matTooltip]="character.equipment.legs | itemTooltip">
      @if (inventoryService.favoritesUnlocked && character.equipment.legs) {
        <mat-icon class="favoriteIcon" [ngClass]="{'favorited': inventoryService.isFavorite(character.equipment.legs)}" (click)="inventoryService.toggleFavorite(character.equipment.legs); $event.stopPropagation()" matTooltip="Click to {{inventoryService.isFavorite(character.equipment.legs) ? 'unfavorite' : 'favorite'}} this equipment">
          {{inventoryService.isFavorite(character.equipment.legs) ? 'star' : 'star_border'}}
        </mat-icon>
      }
      @if (character.equipment.legs?.imageFile){
        <div class="equipmentImage">
          <img src="assets/images/items/{{character.equipment.legs?.imageFile}}.png" class="itemImage"
            width="48" height="48"  alt="{{character.equipment.legs?.name | titlecase}}"/>
        </div>
      }
      <div class="equipmentName">
        {{character.equipment.legs?.name | titlecase}}
      </div>
      @if (getQualityTier(character.equipment.legs); as tierInfo) {
        <div class="itemTier" [ngStyle]="getTierStyle(character.equipment.legs)">{{tierInfo.prefix}}{{tierInfo.tier}}</div>
      }
    </div>
    <div style="grid-area: feet;" class="itemSlot textOverflow" [ngClass]="{'highlightSlot': getSelectedItemSlot() === 'feet', 'brokenItem': isBroken('feet')}" [class]="getEffectClass('feet')"
      cdkDrag (cdkDragStarted)="dragStart()" (cdkDragEnded)="dragEnd()" (cdkDragMoved)="dragMoved($event)" (cdkDragReleased)="dragReleased($event)"
      [cdkDragData]="character.equipment.feet" [cdkDragDisabled]="!character.equipment.feet"
      (dblclick)="slotDoubleClicked('feet', $event)" tabindex="0"
      id="equipmentSlotfeet"
      [matTooltip]="character.equipment.feet | itemTooltip">
      @if (inventoryService.favoritesUnlocked && character.equipment.feet) {
        <mat-icon class="favoriteIcon" [ngClass]="{'favorited': inventoryService.isFavorite(character.equipment.feet)}" (click)="inventoryService.toggleFavorite(character.equipment.feet); $event.stopPropagation()" matTooltip="Click to {{inventoryService.isFavorite(character.equipment.feet) ? 'unfavorite' : 'favorite'}} this equipment">
          {{inventoryService.isFavorite(character.equipment.feet) ? 'star' : 'star_border'}}
        </mat-icon>
      }
      @if (character.equipment.feet?.imageFile){
        <div class="equipmentImage">
          <img src="assets/images/items/{{character.equipment.feet?.imageFile}}.png" class="itemImage"
            width="48" height="48"  alt="{{character.equipment.feet?.name | titlecase}}"/>
        </div>
      }
      <div class="equipmentName">
        {{character.equipment.feet?.name | titlecase}}
      </div>
      @if (getQualityTier(character.equipment.feet); as tierInfo) {
        <div class="itemTier" [ngStyle]="getTierStyle(character.equipment.feet)">{{tierInfo.prefix}}{{tierInfo.tier}}</div>
      }
  </div>
</div>
</div>
<div class="panelResizeHandle"></div>