<div cdkDragHandle [ngClass]="{'draggableCursor': !gameStateService.lockPanels}" class="panelHeader">
  <mat-icon>
    pets
  </mat-icon>
  Pets
  <mat-icon class="panelHelp" [matTooltip]="panelHelp">
    help
  </mat-icon>
</div>
<h3>
  <span [ngClass]="followerService.followersMaxed">
    &nbsp;({{this.followerService.pets.length}} / {{this.followerService.petsCap}})
  </span>
  @if (followerService.autoDismissUnlocked) {
    <mat-icon class="iconButton optionsIcon" (click)="followerOptionsClicked()" aria-label="Manage Pets" aria-hidden="false"
      [matTooltip]="tooltips.managePets">
      settings
    </mat-icon>
  }
</h3>
<div class="followersContainer">
  <div class="followerPanel">
    @for (follower of followerService.pets; track follower.name) {
      <div class="attributeLine">
                <span class="followerName" [matTooltip]="tooltips.followerInfo(follower.name, follower.power, (follower.job | titlecase) + '', followerService.jobs[follower.job].description, (follower.age / 365 | bigNumber) + '', ((follower.lifespan - follower.age) / 365 | bigNumber) + '', (follower.cost | bigNumber) + '')">
          {{follower.name | titlecase}} (lv.{{follower.power}} {{follower.job | camelToTitle}})
        </span>
        <mat-icon class="smallerIcon"
          aria-label="Dismiss Pet" aria-hidden="false"
          (click)="dismissFollower($event, follower)"
                [matTooltip]="followerService.autoDismissUnlocked ? tooltips.dismissPetAdvanced : tooltips.dismissPet">
          cancel
        </mat-icon>
      </div>
    }
  </div>
</div>
<div class="panelResizeHandle"></div>